*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url(../images/Banner\ Image.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    margin: 140px 140px 20px;
    
    
}
.hero-text{
    font-size:xx-large;
    padding-left: 352px;
    padding-right: 336px;
    padding-top: 117px;
    padding-bottom: 117px;
}

.discount{
    text-align: center;
    color: red;
    font-size: xx-large;
    margin-top: 120px;
    font-weight: bold;
    
}

.paragraph{
    text-align: center;
    margin-top: 48px;
    font-weight: bold;
    font-size: larger;
}
.holiday{
    color: red;
    margin-bottom: 16px;
}
.all{
    color: black;
    margin-bottom: 48px;
}

.new-year{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 140px 140px 120px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 94px;
   
}

.party{
      color:white;
      font-weight: bold;
      font-size: large;
      
      
}
.class{
    width: 319.83;
    height: 464.66px;
    margin-top: 68px;
    margin-right: 138px;
    margin-bottom: 67px;


}
.paragraph-1{
    margin-top: 24px;
    margin-bottom: 48px;
    
}
.button{
    border-radius: none;
    font-size: large;
}
.hotel{
    background-color: rgb(245, 206, 206);
    width: 1320px;
    height: 482px;
    background-position: center;
    margin:auto;
    align-items: center;
    text-align: center;
    justify-content: center;  
}
.click{
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.park{
    padding-left: 385px;
    padding-right: 386px;
    padding-top: 100px;
    padding-bottom: 110px;
    font-weight:bold;
    font-size:xx-large;
}